@import "bootstrap.min.css";
/*
-------------------------------------------------------------------------
Resets
------------------------------------------------------------------------ */

ul {
  margin: 0;
  padding: 0;
}



/*
-------------------------------------------------------------------------
Typography
------------------------------------------------------------------------ */
h2{
  font-family: 'Fauna One', serif;
  font-size: 16px;
  color: #0000ff
}

/*
-------------------------------------------------------------------------
Media
------------------------------------------------------------------------ */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

/*
-------------------------------------------------------------------------
Navigation
------------------------------------------------------------------------ */

/*
-------------------------------------------------------------------------
test stuff
------------------------------------------------------------------------ */

.big-paragraph{
  color:#901b2e
}

#welcome-header{
  border-top:1px solid #b9afaf;
  margin-top:40px;
  padding-top: 20px;
}

body{
  color:#ff69b4;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
