@import "bootstrap.min.css";

/*
-------------------------------------------------------------------------
Resets
------------------------------------------------------------------------ */

ul {
  margin: 0;
  padding: 0;
}

.target{
  display: none;
}

/*
-------------------------------------------------------------------------
Typography
------------------------------------------------------------------------ */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #06807F;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #06807F;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: #95A5A6;
}

h6 {
  font-weight: bolder;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

a {
  color: #95A5A6;
}

a:visited{
  color: #06807F;
}

li{
  list-style: none;
}

.publication-name{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: #06807F;
  font-size: 1.5em;
}

.title-and-dates{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    font-size: 13.7136px;
}

.about-list{
  list-style: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin: 5px;
  list-style: none;
}

.speakers-list{
  list-style: inherit;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  padding-left: 30px;
  list-style-position: inside;
  margin-left: auto;
  text-indent: -15px;
  margin: 10px;
}

.body{
  padding-top: 40px;
  margin: 0 auto;
  width: 52.25em;
}

.resume-spacing{
  padding-top: 20px;
}

.block-text{
  font-size: 25px;
  color: #797C7C;
  text-align: center;
}

.contact{
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 25px;
  color: #06807F;
  text-align: center;
  text-transform: uppercase;
}

.contact-body{
  padding-top: 20px;
  margin: 0 auto;
  width: 52.25em;
  margin-left: 23.25em;
}

/*
-------------------------------------------------------------------------
Media
------------------------------------------------------------------------ */
img,
iframe,
video,
svg {
    display: block;
    max-width: 100%;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#mizzou-arena{
  padding-bottom: 20px;
  padding-top: 20px;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
-------------------------------------------------------------------------
Navigation and Footer
------------------------------------------------------------------------ */
nav {
  padding-top: 40px;
  padding-bottom: 40px;
}

.primary-nav {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 100%;
  align-items: center;
}

.primary-nav li {
  float: left;
  list-style: none;
  border-right: 1px solid #000000;
  text-align: center;
}

.primary-nav a {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.25em;
  color: #95A5A6;
}

.primary-nav a:hover {
  color: #06807F;
  font-weight: bold;
  text-decoration: none;
}

.footer-icons{
  color: #06807F;
  text-align: right;
  padding-top: 50px;
}

#selected-page {
  color: #06807F;
  font-weight: bold;
  text-decoration: none;
}

#last-nav{
  border-right: none;
}

#copyright{
  text-align:left;
}


/*
-------------------------------------------------------------------------
test stuff
------------------------------------------------------------------------ */

.text-over-picture {
  background-color: #D0DDDD;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
}

.text-over-picture .text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #06807F;
    text-decoration: none;
    font-size: 25px;

}

.text-over-picture a{
  text-decoration: none;
}

.button-padding {
  padding-top: 10px;
  color: none;
}

#hello-align{
  margin-top: 0px;
}
